<extend name="Base/common"/>


<block name="body">
<style>
    #main-container{
        width: 1080px;
    }
</style>
    <link href="__PUBLIC__/Weibo/css/weibo.css" rel="stylesheet"/>
    <!--微博左侧内容列表部分-->
    <!--微博左侧内容列表部分-->
    <!--微博内容列表部分-->
    <div class="weibo_middle col-md-8">
        <include file="_quickweibo"/>
        <div>

            {:hook('Advs', 'weibo_below_sendbox')}
        </div>
        <!--  筛选部分-->
        <if condition="is_login()">
            <div>
                <div id="weibo_filter" style="margin-bottom: 10px">
                        <a id="all"  href="{:U('Weibo/Index/index')}">圈子动态</a>
                        <a id="concerned" href="{:U('Weibo/Index/myconcerned')}">我的关注</a>
                        <a id="topic" href="{:U('Weibo/Index/topic')}">话题讨论</a>
                        <a id="find" href="{:U('Weibo/Index/find')}">创友查找</a>
                </div>
            </div>
            <script>
                $('#weibo_filter #{$filter_tab}').addClass('active');
            </script>
            
            <div class="row">
            	<div class="col-md-12">
            		<div class="index-find-box">
            			<form role="form" class="index-search-form" action="{:U('')}" method="get">
            				<div class="search-input row">
            					<div class="col-md-6">
            						<p>
            						<input type="text" class="input-text " name="name" value="" placeholder="请输入用户昵称">
            						</p>
            					</div>
            					<div class="col-md-6">
            						<p>
            						<input type="submit" class="btn btn-primary " value="搜索">
            						</p>
            					</div>
            					
            				</div>
            				
            				<div class="row">
            					<div class="col-md-6">
            						<p>
            							<lable class="search-title">性别:</label>
            							<label><input type="radio" name="sex" value="1" <eq name="info.sex" value="1">checked</eq> > 男</label>
            							<label><input type="radio" name="sex" value="2" <eq name="info.sex" value="2">checked</eq>> 女</label>
            							<label><input type="radio" name="sex" value="0" <empty name="info.sex" >checked</empty> > 不限</label>
            						</p>
            					</div>
            					
            					<div class="clearfix"></div>
            					
           						<div class="col-md-2"><p><lable class="search-title">所在地:</label></p></div>
           						<div class="col-md-10 search-position">
           						<p>
           						{:hook('J_China_City',array('province'=>$info['pos_province'],'city'=>$info['pos_city'],'district'=>$info['pos_district'],'province_name'=>'pos_province','city_name'=>'pos_city','district_name'=>'pos_district'))}
           						</p>
           						
           						</div>
           						
           						<div class="col-md-2"><p><lable class="search-title">家乡:</label></p></div>
           						<div class="col-md-10 search-position">
           						<p>
           						{:hook('J_China_City',array('province'=>$info['home_province'],'city'=>$info['home_city'],'district'=>$info['home_district'],'province_name'=>'home_province','city_name'=>'home_city','district_name'=>'home_district'))}
           						</p>
           						</div>
            				
            					<div class="col-md-2"><p><lable class="search-title">关注方向:</label></p></div>
            					<div class="col-md-10">
            						<p><select id="focus_sel">
            							<foreach name="Think.config.PROJECT_INDUSTRY" key="k" item="vo" >
            								<option value="{$k}" data-option="" class="focus-sel-{$k}">{$vo}</option>
            							</foreach>
            							</select>
            						</p>
            						
            						<p class="search-focus">
            						
            						</p>
            					</div>
            				</div>
            			</form>
            			
            			
            		</div>
            		
            		<div class="row">
            			<foreach name="lists" item="vo">
            				<div class="col-md-6">
	            				<div class="find-user-box">
	            					<div class="row">
	            						
		            						<div class="col-md-4">
		            							<div><a href="{:U('usercenter/index/index?uid='.$vo['uid'])}" ><img src="{$vo.uid|get_user_avatar}" ucard="{$vo.uid}" class="avatar-img img-responsive" width="100%"></a></div>
		            						</div>
		            						
		            						<div class="col-md-8">
		            							<p class="h4"><a href="{:U('usercenter/index/index?uid='.$vo['uid'])}" >{$vo.nickname}</a></p>
		            							<p class="find-user-signature"><a href="{:U('usercenter/index/index?uid='.$vo['uid'])}" >{$vo.signature}</a></p>
		            						</div>
	            						
	            					</div>
	            				</div>
            				</div>
            			</foreach>
            			
            			<div class="col-md-12 page">{$s_page}</div>
            		</div>
            	</div>
            </div>
            
        </if>
        
    </div>

    <!--微博内容列表部分结束-->

    <!--首页右侧部分-->
    <div class="weibo_right col-md-4">

        <!--登录后显示个人区域-->
        <if condition="is_login()">
            <div ><img class="cover" src="__PUBLIC__/Weibo/images/bg.jpg" style="height: 70px;width: 100%"></div>

            <div class=" user_info" style="padding: 0px;background-color: #ffffff;">

                <div class="avatar-bg">


                    <div class="headpic ">
                        <a href="{$self.space_url}" ucard="{$self.uid}"><img src="{$self.avatar128}"
                                                                             class="avatar-img"
                                                                             style="width:60px;"/></a>
                    </div>


                    <div class="clearfix " style="padding: 0px;margin-bottom:8px">
                        <div class="col-xs-12" style="text-align: center">
                        <span class="name_touxian">
                            {$self.title}
                        <a ucard="{$self.user.uid}" href="{$self.space_url}" class="user_name">{$self.nickname|htmlspecialchars}</a>

                             <if condition="$self['rank_link'][0]['num']">
                                 <volist name="self['rank_link']" id="vl">
                                     <if condition="$vl['is_show']">
                                         <img src="{$vl.logo_url}" title="{$vl.title}"
                                              alt="{$vl.title}"
                                              style="width: 18px;height: 18px;vertical-align: middle;margin-left: 2px;"/>
                                     </if>
                                 </volist>
                                 <else/>

                             </if>
                            </span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="{:U('usercenter/index/applist',array('uid'=>$self['uid'],'type'=>'weibo'))}" title="微博数">{$self.weibocount}</a><br>微博
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="{:U('usercenter/index/fans',array('uid'=>$self['uid']))}" title="粉丝数">{$self.fans}</a><br>粉丝
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="{:U('usercenter/index/following',array('uid'=>$self['uid']))}" title="关注数">{$self.following}</a><br>关注
                        </div>
                    </div>

                </div>
            </div>
        </if>
        <!--登录后显示个人区域部分结束-->

        <div>
            <div class="checkin">
                {:hook('checkin')}


                {:hook('Rank')}
            </div>
            {:hook('weiboSide')}
            <!--广告位-->
            {:hook('Advs', 'weibo_below_checkrank')}
            <!--广告位end-->
            {:W('TopUserList/lists',array(null,'score desc','活跃用户','top'))}
            {:W('UserList/lists')}

        </div>
    </div>
    <!--首页右侧部分结束-->


</block>

<block name="script">

    <script src="__JS__/weibo.js"></script>
    <script>
        var SUPPORT_URL = "{:addons_url('Support://Support/doSupport')}";
        var noMoreNextPage = false;
        var isLoadingWeibo = false;
        var currentPage = '{$page}';
        var loadCount = 1;
        var lastId = '{$lastId}';
        var url = "{$loadMoreUrl}";
        $(function () {
        	
        	 $('#focus_sel').bind('change',function (){
             	
     			var obj = $(this);
     			var id = obj.val();
     			var check_option = {$info.focus};
     			var focus_html = $('.focus-sel-'+id).attr('data-option');
     			
     			if(focus_html == ""){
     				$.post("{:U('Home/Project/getDirection')}",{id:id},function(data){
     					for(var i=0;i<data.length;i++){
     						if(check_option == data[i]['id']){
     							focus_html += "<span><input type='radio' value='"+data[i]['id']+"' name='focus' checked > "+data[i]['title']+" </span>";
     						}else{
     							focus_html += "<span><input type='radio' value='"+data[i]['id']+"' name='focus' > "+data[i]['title']+" </span>";
     						}
     					}
     					
     					$('.search-focus').html(focus_html);
 						$('.focus-sel-'+id).attr({'data-option':focus_html});
     					
     				},'json');
     			}
     			else{
     				$('.search-focus').html(focus_html);
     			}
     		}).trigger('change'); 
        	 
        	 
            //当屏幕滚动到底部时

            if (currentPage == 1) {
                $(window).on('scroll', function () {
                    if (noMoreNextPage) {
                        return;
                    }
                    if (isLoadingWeibo) {
                        return;
                    }
                    if (isLoadMoreVisible()) {
                        loadNextPage();
                    }
                });
                $(window).trigger('scroll');
            }
	
            var is_follow = 0;
			$('.topic_follow').click(function (){
				var obj = $(this);
				var topic_id = obj.attr('data-id');
				var action = "{:U('Topic/follow')}";
				if(is_follow == 0){
					$.post(action,{topic_id:topic_id},function(data){
						if(data.status){
							toast.success(data.info, '温馨提示');
							obj.text('已关注');
							is_follow = 1;
						}else{
							toast.error(data.info, '温馨提示');
						}
					},'json');
				}
				
			});
			
			
			
           

        });
    </script>


</block>
