@CHARSET "utf-8";
.breadcrumbs {box-shadow: inset 0 0 4px #eee;padding-top:20px;}
.breadcrumbs h1 {font-size:26px;color:#686868;padding:0;margin:0;}
.breadcrumbs .nav li.active a {background:#72c02c;color:#333;}


.dropdown-region-menu {width:600px;}
.dropdown-region-menu li {float:left;}

.btn-release {border:1px solid #72c02c;width:100%;transition:0.5s all;}
.btn-release:hover {background:#72c02c;}

.sel-box {border-top:2px solid #72c02c;margin-top:20px;}
.sel-item {margin:15px 0;line-height:28px;}
.sel-item-title {font-weight:bolder;}
.sel-item-lists a {display:block;margin-right:15px;float:left;}
.sel-item-lists a:hover {color:#72c02c;}
.sel-item-lists a.active {color:#72c02c;}


.projiect-order {border-top:2px solid #72c02c;padding-top:20px;}
.projiect-order .btn-active {background:#72c02c;}
.projiect-order .btn-active a{color:#333;}

.project-item-lists {padding:15px;margin:15px 0; transition:0.5s all;border:1px solid #eee;}
.project-item-lists:hover {border:1px solid #72c02c;}
.project-item-title {font-size:24px;color:#536892;height:40px;overflow:hidden;line-height:40px}
.project-item-title a {color:#536892;}
.project-item-sel-info ,.projiect-item-descrition {margin:4px 0;}
.project-item-descrition ,.project-item-content {padding:15px;}
.project-item-sel-info .info-detail ,.projiect-item-descrition .info-detail{color:#555;}
.project-item-social,.project-item-more {height:40px;line-height:40px;}

.view-more ,.view-close {color:#72c02c;}

.project-detial-item-name {color:#34495E;font-size:16px;}
.project-detial-item-name span ,.project-detail-item-info {color:#7F8C8D;font-size:14px;}

.btn-zan,.btn-collection {padding:5px 15px;margin-left:15px;border-radius:15px;}
.btn-zan {border:1px solid #E74C3C;color:#E74C3C;transition:0.5s all;}
.btn-zan:hover {background:#E74C3C;color:#fff;}
.btn-collection {border:1px solid #72c02c;color:#72c02c;#transition:0.5s all;}
.btn-collection:hover {background:#72c02c;color:#fff;}


.project-release {border:1px solid #eee;padding-top:15px;padding-bottom:15px;}
.project-release .form-group span {margin-right:8px;}

.user-box {border:1px solid #eee;height:200px;padding:15px;}
.user-box img {border:1px solid #eee;}
.user-box-info {font-size:12px;}
.user-box-count {height:60px;line-height:30px;}
.user-box-count div {width:33%;float:left;}

.right-block-title {height:40px;line-height:40px;margin-top:15px;border-bottom:2px solid #72c02c;font-weight:bolder;}
.right-hot-tags a {padding:5px;margin:5px;display:block;float:left;}
.right-hot-project-info {margin:15px 0;}
.right-hot-project-avatar {float:left;width:64px;margin-left:15px;}
.right-hot-project-item a {font-size:18px;line-height:32px;margin-left:15px;color:#34495E;}
.right-hot-project-sns span {fon-size:12px;margin-left:2px;}



.ujian-hook li div {overflow:hidden !important;}